*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0b0b0b;
    color:white;
}

header{
    background:linear-gradient(135deg,#ff6600,#ff3300);
    text-align:center;
    padding:70px 20px;
}

header h1{
    font-size:45px;
}

header p{
    margin-top:10px;
    font-size:18px;
}

.container{
    width:90%;
    max-width:1100px;
    margin:auto;
    padding:40px 0;
}

.card{
    background:#181818;
    margin-bottom:25px;
    padding:25px;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

h2{
    color:#ff7300;
    margin-bottom:15px;
}

.info{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.box{
    background:#222;
    padding:20px;
    border-radius:12px;
    text-align:center;
}

footer{
    background:#111;
    padding:20px;
    text-align:center;
  }
